@import './main.css';

#app {
    padding: 15px;

    table{
        tr{
            td{
                border: none;
            }
        }
        th{
            border-bottom: 1px solid #808080;
        }
    }


    .music-player {
        input[type='range'] {
            width: 100%;
            height: 5px;
            border: none;
            accent-color: white;
            opacity: 0.7;
            transition: opacity 0.1s;

            &:hover {
                opacity: 1;
                accent-color: #1ED760;
            }


        }
    }

    @media screen and (max-width: 768px){
        padding: 10px;
    }
}

.SideBarSpotify{
    .header-sidebar{
        .spotify-logo{
            width: 8rem;
            height: auto;
        }
    }

    .playlist-sidebar{
        .PlaylistSideBarpotify{
            .playlist-item{
                display: flex;
                align-items: center;
                margin-bottom: 1rem;
                max-height: 90vh;
                height: auto;
                &::-webkit-scrollbar {
                    width: 10px;
                }

                &::-webkit-scrollbar-track {
                background: #121212;
                }

                &::-webkit-scrollbar-thumb {
                background: #888;
                }

                  &::-webkit-scrollbar-thumb:hover {
                    background: #555;
                }
                .playlist-image{
                    width: 50px;
                    height: 50px;
                    border-radius: 10px;
                }
            }
        }
    }
}

.login-page{
    .login-navbar{

    }

    .login-container{
        max-width: 600px;
        height: 70vh;
        .spotify-logo{
            margin-bottom: 1rem;
        }
        login-btn{
            width: 50px;
        }
    }
}

.spotify-page{
    overflow: hidden;

    .main-home{
        overflow: auto;
        &::-webkit-scrollbar {
            width: 10px;
            display: none;
        }
    }
}

.playlist-page{
    overflow: auto;
    &::-webkit-scrollbar {
        width: 10px;
        display: none;
    }

    .header-title{
        font-size: 4rem;
    }
    .playlist-header-image {
        width: 100%;
        max-width: 230px;
        max-height: 230px;
        height: 210px;
      }

    .playlist-list{
        height: 112vh;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 10px;
          }

          &::-webkit-scrollbar-track {
            background: #121212;
          }

          &::-webkit-scrollbar-thumb {
            background: #888;
          }

          &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }

}