@import './main.css';

#app {
    padding: 1rem 6rem;

    @media screen and (max-width: 768px){
        padding: 35px;
    }
}

.login{
    @media screen and (max-width: 768px){
        padding: 1rem 1rem;
    }
}
